# Python
*.pyc
__pycache__/

# DB
db.sqlite3
*.sqlite3

# Logs
*.log

# Environment
.env
*.env

# Virtual Environment
venv/

# IDEs
.idea/
.vscode/

# Static and Media
staticfiles/
media/

# MacOS
.DS_Store

# Render-specific (if any build cache gets added later)
build/

#.env
DJANGO_SECRET_KEY=4628351336807fb52448dff82a7b9b61
DEBUG=False
ALLOWED_HOSTS=	https://babynest-1.onrender.com,www.babynest-1.onrender



